doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="N. Barashkov")
    title Landing Page

    //- Bootstrap core CSS 
    link(href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    //- https://material.io/resources/icons/?style=baseline -->
    link(href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet")

    //- https://material.io/resources/icons/?style=outline -->
    link(href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet")

    //-- https://material.io/resources/icons/?style=round -->
    link( href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
      rel="stylesheet")

    //-- https://material.io/resources/icons/?style=sharp -->
    link( href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
      rel="stylesheet")
    link(href="style.css" rel="stylesheet")

    style 
            |.bd-placeholder-img {
            |   font-size: 1.125rem;
            |   text-anchor: middle;
            |   -webkit-user-select: none;
            |   -moz-user-select: none;
            |   -ms-user-select: none;
            |   user-select: none;
            |}
            |
            |@media (min-width: 768px) {
            |   .bd-placeholder-img-lg {
            |        font-size: 3.5rem;
            |   }
            |}
    
    //  Custom styles for this template 
        <link href="carousel.css" rel="stylesheet">
    body
        header
            nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
                .logo
                    a(class="navbar-brand" href="#") FinInfo Blog
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item active")
                            a(class="nav-link" href="#") Главная 
                                span(class="sr-only") (current)
                        li(class="nav-item")
                            a(class="nav-link" href="#") Link
                        li(class="nav-item")
                            a(class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true") Disabled
                form(class="form-inline mt-2 mt-md-0")
                    input(class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search")
                    button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search

        main(role="main")
            .carousel
                .carousel__control-wrapper.prev
                    a(class="carousel__prev" href="#")
                        span(class="material-icons md-48") navigate_before
                .carousel__wrapper
                    .carousel__list.carousel__list_animate
                        .carousel__item-wrapper(id="n1")
                            .carousel__item
                                p Item 1
                        .carousel__item-wrapper(id="n2")
                            .carousel__item
                                p Item 2
                        .carousel__item-wrapper(id="n3")
                            .carousel__item
                                p Item 3
                        .carousel__item-wrapper(id="n4")
                            .carousel__item
                                p Item 4
                        .carousel__item-wrapper(id="n5")
                            .carousel__item
                                p Item 5
                        .carousel__item-wrapper(id="n6")
                            .carousel__item
                                p Item 6
                .carousel__control-wrapper.next
                    a(class="carousel__next" href="#")
                        span(class="material-icons md-48") navigate_next
                //- Pagination -->
                .carousel__pagination
                //- Pagination items will be generated in here -->

            //
                Marketing messaging and featurettes
                ================================================== 
                Wrap the rest of the page in another container to center all the content. 

            .marketing-container
                //
                    Three columns of text below the carousel
                .marketing-container__row
                    .marketing-container__col-lg-4
                        svg(class="bd-placeholder-img rounded-circle" width="140" height="140"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                            focusable="false" role="img" aria-label="Placeholder: 140x140")
                                title Placeholder
                                rect(width="100%" height="100%" fill="#777")
                                text(x="50%" y="50%" fill="#777" dy=".3em") 140x140
                        h2 Heading
                        p
                            |Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id
                            |nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum
                            | at eros. Praesent commodo cursus magna.
                        p
                            a(class="btn btn-secondary" href="#" role="button") View details &raquo;
                    .marketing-container__col-lg-4
                        svg(class="bd-placeholder-img rounded-circle" width="140" height="140"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                            focusable="false" role="img" aria-label="Placeholder: 140x140")
                            title Placeholder
                            rect(width="100%" height="100%" fill="#777")
                            text(x="50%" y="50%" fill="#777" dy=".3em") 140x140
                        h2 Heading
                        p
                            |Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec
                            |elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus
                            |commodo, tortor mauris condimentum nibh.
                        p
                            a(class="btn btn-secondary" href="#" role="button") View details &raquo;
                    .marketing-container__col-lg-4
                        svg(class="bd-placeholder-img rounded-circle" width="140" height="140"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                            focusable="false" role="img" aria-label="Placeholder: 140x140")
                            title Placeholder
                            rect(width="100%" height="100%" fill="#777")
                            text(x="50%" y="50%" fill="#777" dy=".3em") 140x140
                        h2 Heading
                        p
                            |Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                            |Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo,
                            |tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        p
                            a(class="btn btn-secondary" href="#" role="button") View details &raquo;
                //
                    START THE FEATURETTES

                hr(class="featurette-divider")

                .marketing-container_row.featurette
                    .col-md-7
                        h2(class="featurette-heading") First featurette heading. #[span(class="text-muted") It’ll blow your mind.]
                        p(class="lead") Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                    .col-md-5
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                hr(class="featurette-divider")


                //-
                    /END THE FEATURETTES

        footer(class="container")
            p(class="float-right") #[a(href="#") Back to top]
            p &copy; 2017-2020 Company, Inc. &middot; #[a(href="#")] Privacy &middot; #[a(href="#") Terms]
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
               integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
               crossorigin="anonymous")
        //
            <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
            <script>window.jQuery || document.write('<script src="../node_modules/jquery/dist/jquery.js"><\/script>')</script>
            script(src="./assets/dist/js/bootstrap.bundle.min.js")
            script(src="../node_modules/bootstrap/dist/js/bootstrap.js")
        